@import url(http://fonts.googleapis.com/css?family=Arvo:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

body {
	padding:0;
	margin:0;
}

header {
	height:80px;
	width:100%;
	top:0;
	left:0;
	display: inline-block;
	background-color: #565157;
}

#name {
	display: inline-block;
	color:#10CFC8;
	font-family: 'Arvo', serif;
	margin-left: 5%;
}

#nav-menu {
	float: right;
	display: inline-block;
	margin-right: 5%;
}

li {
	display: inline-block;
	padding: 10px;
}

a{
	text-decoration: none;
	color:#F2EEE7;
	font-family: 'Open Sans', sans-serif;
}

canvas {
	width:400px;
	height:330px;
	display: inline-block;
	margin: 0;
	position: relative;
}

#canvas0 {
	margin: 10px;
}

#canvas1 {
	margin: 10px;
	float: right;
}

footer {
	width:100%;
	height:40px;
	background-color: #565157;
	bottom:0;
	position: fixed;
	text-align: center;
}

footer p {
	font-family: 'Open Sans', sans-serif;
	color:#F2EEE7;
	font-size: 13px;
}